.event-page {
    /* max-width: 1200px; */
    padding: 20px;
    margin-top: 40px;

}

.event-page h1 {
    margin-bottom: 20px;
}

.create-article-button {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    padding: 10px 20px;
    background-color: white;
    color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
    font-weight: bold;
    float: inline-end;
}

.create-article-button:hover {
    background-color: #1a752e;
    color: whi;
}

.event-page table {
    width: 100%;
    border-collapse: collapse;
    /* margin-bottom: 20px; */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.event-page table th,
.event-page table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #afadad;
    border-right: 1px solid #afadad;
    background-color: #333;
    color: #fff;
}

.event-page table th {
    background-color: #414141;
    font-weight: bold;
}

.event-page table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.event-page img {
    max-width: 200px;

    /* object-fit: contain; */
    display: block;
    margin: 0 auto;
}

.event-page th,
td {
    text-align: center;
}

.event-page table th:first-child,
.event-page table td:first-child {
    text-align: left;
}

.event-page table th:last-child,
.event-page table td:last-child {
    text-align: right;
}



.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-inner h2 {
    margin: 0;
    margin-bottom: 20px;
}

.popup-inner button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.popup-inner button:hover {
    background: #0056b3;
}