.funds-container {
    padding: 20px;
    margin-top: 40px;
}

.funds-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.fund-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.fund-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fund-item:hover .delete-icon {
    display: flex;
}

.fund-item.plus-item {
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px dashed #ddd;
}

.fund-item.plus-item:hover {
    background-color: #e0e0e0;
}

.fund-item:hover {
    transform: scale(1.05);
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.delete-icon:hover {
    /* background-color: rgba(255, 0, 0, 0.7); */
}

.fund-item.plus-item .react-icons {
    color: #28a745;
}
