form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 14px;
}
.thank-you {
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }
  .b{
    background-color: #ffffff0d;
    border-radius: 10px;
    color: rgb(255, 0, 136);
    border-color: rgb(0, 0, 0);
  }
  .button-89{
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s; 
    width: 90%;
   }
   .button-89:hover {
    color: rgb(0, 144, 36);
    font-size: 100%;
    background-color: #ffffff24;   

   

  }
